.content-chart    
      .card.card-primary.card-outline
        .card-header
          h3.card-title
            i.far.fa-chart-bar Chart                   

          .card-tools
            button.btn.btn-tool(type="button",data-card-widget="collapse")
              i.fas.fa-minus
                  
            button.btn.btn-tool(type="button",data-card-widget="remove")
              i.fas.fa-times
              
        .card-body(id="line-chart",style="height: 300px")