.content-chart    
      .card.card-primary.card-outline
        .card-header
          h3.card-title #{dashboards.charts}
            i.far.fa-chart-bar                    

          .card-tools
            button.btn.btn-tool(type="button")
              span.material-icons settings
                
            button.btn.btn-tool(type="button")
              span.material-icons delete
              
        .card-body(id="line-chart",style="height: 300px")

        
          
                      