.content-chart    
      .card(style="background-color: #130d40;")
        .card-primary
        //- .card-header
          //- h3.card-title #{dashboards.charts}
          //-   i.far.fa-chart-bar                    

          //- .card-tools
          //-   button.btn.btn-tool(type="button")
          //-     span.material-icons settings
                
          //-   button.btn.btn-tool(type="button")
          //-     span.material-icons delete
        .card-number      
        .card-body(id="line-chart")

        
          
                      