extends  layout.pug
block css
  link(rel="stylesheet" href="../../../../../public/list.css") 
block content
  .content-wrapper(style='background-color: #0c062b')
    .content-header
      .container-fluid
        .row.mb-2
          //- .col-sm-6
          h1.dashboard-title Dashboard
          a.nav-link(data-widget='pushmenu' href='#' role='button' )  expand 
    .content
      a.create-dashboard(href="#") Create Dashboard
      
      .dashboard-list
        each item in list
          li.dashboard         
            p.title #{item.title}
            p.description #{item.description}
            a.enter(href=`/api/1.0/dashboards/${item._id.valueOf()}`) Enter
            br
            a.delete(href='#', value=`${item._id.valueOf()}`) Delete

block js
  script(src="/public/list.js") 
