extends  layout.pug

block content
  .content-wrapper
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 Dashboard
    .content
      a.create-dashboard(href="#") Create Dashboard
      
      .dashboard-list
        each item in list
          li.dashboard         
            p.title #{item.title}
            p.description #{item.description}
            a.enter(href=`./dashboards/${item._id.valueOf()}`) Enter
            br
            a.delete(href='#', value=`${item._id.valueOf()}`) Delete

block js
  script(src="/public/list.js") 
