nav.main-header.navbar.navbar-expand.navbar-white.navbar-light(style='background-color:#130d40; border:0')
  ul.navbar-nav
    li.nav-item
      a.nav-link(data-widget='pushmenu' href='#' role='button')
        i.fas.fa-bars
    //- li.nav-item.d-none.d-sm-inline-block
    //-   a.nav-link(href='../../index3.html') Home
    //- li.nav-item.d-none.d-sm-inline-block
    //-   a.nav-link(href='#') Contact