extends  layout.pug
block css
  link(rel="stylesheet" href="../../../../../public/notifyPage.css") 
block content
  .content-wrapper(style='background-color: #0c062b')
    .content-header
      .container-fluid
        .row.mb-2
          //- .col-sm-6
          .title-1
            input.title-input
            h1
              pre.alert-title Notify title
            button.btn.btn-tool.edit-title-btn(type="button")
                img(src='/images/edit.png', style='width:30px;height:30px;')
          .description
            input.description-input            
            h1
              pre.alert-description Description
            button.btn.btn-tool.edit-description-btn(type="button")
                img(src='/images/edit.png', style='width:30px;height:30px;')
          //- a.nav-link(data-widget='pushmenu' href='#' role='button' )  expand 
    .content
      .line-wrap
        p.text Notify Type:
        select.form-select.form-select-sm(id='notifyType')
            option(selected value='0') Select Notify Type
            option(value='email') email
            option(value='discord') discord
      .notify-text
    .alert-button
      a.back-chart(href="/notify-list",id='back') BACK      
      a.save-chart(href="#",id='save') SAVE

block js
  //- script(src="sweetalert2.all.min.js")
  //- script(src="sweetalert2.min.js")
  script(type='text/javascript').
    let data = !{JSON.stringify(notify)}
  script(src="/public/notifyPage.js") 
