aside.main-sidebar.sidebar-dark-primary.elevation-4(style='background-color: #130d40')
  a.brand-link(href='#')
    img.brand-image.img-circle.elevation-3(src="/images/cat.png", style="opacity: .8")
    span.brand-text.font-weight-light DataCat
  .sidebar
    .user-panel.mt-3.pb-3.mb-3.d-flex
      .image
        img(src="/images/user.png",alt="User Image").img-circle.elevation-2
      .info
        a.d-block(href='#') #{userName}
          
    nav.mt-2
      ul.nav.nav-pills.nav-sidebar.flex-column(data-widget="treeview" role="menu" data-accordion="false")
        li.nav-item
          a.nav-link(href=`/api/1.0/dashboard-list/${userId}`)
            p Dashboard
        li.nav-item
          a.nav-link(href='#')
            p Logs
        li.nav-item
          a.nav-link(href='#')
            p Alert
        li.nav-item
          a.nav-link(href='#')
            p Profile
        li.nav-item
          a.nav-link(href='#')
            p Settings
        