* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Joystix';
  src: url('../../public/plugins/joystix.ttf') format('truetype');
}
body {
  /* border: none;
  padding: none; */
  /* margin: 0px;
  padding: 0;
  height: 100%; */
  /* display: flex;
  flex-direction: column; */
  background-color: #01175e;
  /* font-family: 'ArcadeClassic', sans-serif; */
  font-family: 'Joystix', sans-serif;
  /* min-height: 100%; */
}

.dashboard-title {
  color: white;
  font-size: 2rem;
  width: 50%;
  display: flex;
  justify-content: left;
  vertical-align: middle;
}
.nav-link{
  width: 50%
}
.create-alert {
  color: white;
  font-size: x-large;
  text-align: right;
  justify-content: right;
  /* margin-right: 30px;
  margin-left:auto; */
  margin-bottom: 10px;
  /* display: flex; */
  border-width: 2px;
  border-color: white;
  width: 400px;
}

.list-title {  
  font-size: x-large;
  background-color: blue;
}

tbody {
  font-size: 1.3rem;
  height: 100px;
  padding: auto;
  vertical-align: center;  
}
a {
  color: white;
}
p {
  margin: 0px 10px 0px 15px;
  width: 30px;
}
.button{
  display: flex;
}
