* {
  box-sizing: border-box;
}
/* @font-face {
  font-family: 'Joystix', sans-serif;
  src: url('../plugins/joystix.ttf') format('truetype');
} */
body {
  /* border: none;
  padding: none; */
  /* margin: 0px;
  padding: 0;
  height: 100%; */
  /* display: flex;
  flex-direction: column; */
  
  background-color: #01175e;
  /* font-family: 'ArcadeClassic', sans-serif; */
  font-family: 'Joystix', sans-serif;
  /* min-height: 100%; */
}

.dashboard-title {
  color: white;
  font-size: xxx-large;
  width: 50%
}
.nav-link{
  width: 50%
}
.dashboard-description {
  color: white;
  font-size: xxx-large;
}
.create-dashboard {
  color: white;
  font-size: x-large;
}
