* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Joystix';
  src: url('../../public/plugins/joystix.ttf') format('truetype');
}
body {
  /* border: none;
  padding: none; */
  /* margin: 0px;
  padding: 0;
  height: 100%; */
  /* display: flex;
  flex-direction: column; */
  
  background-color: #01175e;
  /* font-family: 'ArcadeClassic', sans-serif; */
  font-family: 'Joystix', sans-serif;
  /* min-height: 100%; */
}
.content-header h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.dashboard-title {
  color: white;
  font-size: xxx-large;
  /* margin: 50px; */
  /* width: 50%; */

}
.create-chart{
  color: white;
  font-size: x-large;
  text-align: right;
  justify-content: right;
  margin-right: 30px;
  margin-bottom: 10px;
  display: flex;
  border-width: 2px;
  border-color: white;
}
.nav-link{
  width: 50%
}
.dashboard-description {
  color: white;
  font-size: xxx-large;
}
.create-dashboard {
  color: white;
  font-size: x-large;
}
.graph-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}
.graph-wrapper-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45vw;
}
.graph-wrapper-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45vw;
}
.card {
  height: 40vh;
  width: 40vw;
  color: #ffffff;
  background-color: #130d40;
  /* justify-content: center;
  align-items: center; */
  margin:20px;
  /* display: flex; */
  border: 3px solid #007bff;
}
.card-body {
  height: 40vh;
  width: 38vw;
  margin-left:20px;
  margin-bottom:10px;
}
.flot-x-axis {
  fill: white
}
.flot-y-axis {
  fill: white
}
.bg-info {
  background-color: #007bff!important;
  justify-content: center;
}
.small-box {
  border: 3px solid #007bff;
  width: 20vw;
  margin-left: 10px;
  margin-right: 10px;
}
.inner {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 15vw;
  margin-left: 4vw;
}
.btn-group {
  justify-content: right;
  /* margin-left: 1vw; */
}
.word {
  width:10vw;
}
.number-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
