* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Joystix';
  src: url('../../public/plugins/joystix.ttf') format('truetype');
}

body {
  /* border: none;
  padding: none; */
  margin: 0px;
  padding: 0;
  height: 100%;
  font-family: 'Joystix', sans-serif;  
  
  /* font-family: 'ArcadeClassic', sans-serif;                                               */
  /* display: flex;
  flex-direction: column; */
  /* background: #3f2cb3; */
  /* background-image: url("../../images/data_background_3.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* min-height: 100%; */
  
}
.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  overflow: hidden;
  width: 600px;
  background: #130d40;  
  /* opacity: 0.9; */
  border-radius: 100px;
}
.title {
  color: white;
  font-size: xxx-large;
  margin: 20px 0 0 0 ;
}
.box-title {
  display: flex;
}
.sign-text {
  color: white;  
}
.sign-title {
  height: 60px;
  width: 300px;
  color: white;
  font-size: x-large;
  /* text-decoration: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid white;
  border-radius: 5px; */
}
.content {
  /* margin: 100px auto auto auto; */
  margin:auto;
  padding: 0;
  /* height: 600px; */
  /* width: 600px; */
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
 
}
.picture {
  justify-content: center;
  height: 200px;
  width: 250px;
}
.picture img {
  max-width: 100%;
  max-height: 100%;
}
.sign-in-box {  
  /* height: 70vh; */
  /* width: 50%; */
  display: flex;

  text-align: left;
  justify-content: center; 
}
.sign-up-box {  
  /* height: 70vh; */
  /* width: 50%; */
  display: none;  
  text-align: left;
  justify-content: center;  
}
.text {
  color: white;
  margin:10px 0; 
}
.signBtn {
  color: white;
  margin:30px 0;
  text-align: left;
  justify-content: center;
  text-decoration: none;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
}
.signUp {  
  display: none;
}
.signIn {  
  display: flex;
}
.set-picture-left{
  opacity: 0;
}
.set-picture-right{
  /* margin-left:auto; */
  opacity: 0;
}
